USE [master]
GO
/****** Object:  Database [Park]    Script Date: 2016/7/11 13:05:36 ******/
CREATE DATABASE [Park]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Park', FILENAME = N'D:\SQL\MSSQL11.MSSQLSERVER\MSSQL\DATA\Park.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Park_log', FILENAME = N'D:\SQL\MSSQL11.MSSQLSERVER\MSSQL\DATA\Park_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Park].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Park]
GO
/****** Object:  Table [dbo].[cost_table]    Script Date: 2016/7/11 13:05:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cost_table](
	[time] [varchar](10) NOT NULL,
	[cost] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[login]    Script Date: 2016/7/11 13:05:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[login](
	[username] [varchar](20) NOT NULL,
	[password] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[now_Pcondition]    Script Date: 2016/7/11 13:05:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[now_Pcondition](
	[car_Type] [varchar](10) NULL,
	[approach_Time] [datetime] NULL,
	[car_Number] [varchar](10) NULL,
	[car_Place] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[car_Place] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [car_Number_Unique] UNIQUE NONCLUSTERED 
(
	[car_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[old_Pcondition]    Script Date: 2016/7/11 13:05:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[old_Pcondition](
	[car_Type] [varchar](10) NULL,
	[approach_Time] [datetime] NOT NULL,
	[leaving_Time] [datetime] NULL,
	[car_Number] [varchar](10) NOT NULL,
	[car_Place] [varchar](5) NULL,
	[car_Cost] [int] NULL,
 CONSTRAINT [PK_OP] PRIMARY KEY CLUSTERED 
(
	[car_Number] ASC,
	[approach_Time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
